@import url('https://fonts.googleapis.com/css2?family=Roboto:wdth,wght@87.5,100..900&display=swap');
* {
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: "Roboto", sans-serif;
}

nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    background-color: #cafdcf;
}

header {
    background-color: #eadcff;
    height: calc(100vh - 70px);
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 72px;
}

a {
    color: #000;
    font-size: 24px;
    font-weight: 700;
}

.logo {
    width: 300px;
}

ul {
    display: flex;
}

.subheader {
    font-size: 36px;
    margin: 16px 0 24px 0;
}

button {
    background-color: #05c7cf;
    color: white;
    padding: 16px 32px;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

a {
    color: #000;
    font-size: 24px;
    font-weight: 700;
}

.logo {
    width: 300px;
}

ul {
    display: flex;
}

li {
    list-style: none;
    padding-left: 16px;
}

.row {
    width: 100%;
    max-width: 1300px;
    display: flex;
    align-items: justify-center;
    justify-content: center;
   
}

#about,
#discord,
#contact {
    padding: 48px 0;
}
/*
ABOUT 
    

 */

 #about {
    padding: 48px 0;
    background-color: #f7e06a;
 }
    .section__title {
        text-align: center;
        font-size: 36px;
        margin-bottom: 24px;
    }

h2 {
    font-size: 68px;
    text-align: center;
    margin-bottom: 24px;
 }

    .section__description {
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .about__img--wrapper {
        width: 40%;
        padding: 0 24px;
    }

    img {
        width: 100%;
    }

    .section__description--wrapper {
        width: 60%;
         padding: 0 24px;
                 
    }

    .about__img--wrapper 
    .section__description--wrapper {
        padding: 0 24px;
    }
    
    .section__description--para {
        font-size: 20px;
        line-height: 1.5;
        margin-bottom: 24px;
    }

    /*

    DISCORD

    */

    #discord {
        background-color: #cefeff;
    }

    /*CONTACT

    */
    #contact {
        background-color: #dce9ff;
    }

    form {
        width: 100%;
        max-width: 680px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    input, textarea {
        padding: 6px 12px;
        margin-bottom: 24px;
        font-size: 28px;
    }

     /*FOOTER

    */
    footer {
        background-color: #aaf5ff;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .footer__logo {
        max-width: 480px;
        margin-bottom: 16px;
    }
    .footer__links {
        margin-bottom: 32px;
    }

    .footer__link {
        padding: 0 36px;
    }
